h2 {
    margin-top: 0;
    color: #515151;
}

.setting-column {
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 5px;
    align-items: baseline;
    border-bottom: 2px solid #ECECEC;
}

.top-column {
    border-top: 2px solid #ECECEC;
}


.setting-column label {
    font-size: 16px;
    font-weight: 500;
    color: #898989;
}


/* Färbt auch Button in vote-toast */
/* Button {
    background-color: #FF8D00;
    border: none;
} */
