.post-button-container {
  position: fixed;
  top: 110px;
  right: calc(50vw - 310px); 
  z-index: 1;
}

.new-post-button {
  background: none;
  border: none;
  background-color: var(--transparent-orange); /* transparent machen*/
  color: #fff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  font-size: 24px;
  cursor: pointer;
  /* position: absolute;
  z-index: 999;
  margin-left: 600px; */
}

.filter {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.filter select {
  padding: 5px;
  font-size: 16px;
  color: black;
  /* background-color: none;
  border-radius: 5px;
  color: #FF8D00; */
}

/* .posts {
  display: flex;
  flex-direction: column;
} */


.new-post-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  height: 100vh;
}

.new-post-form textarea {
  height: 60%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid var(--main-orange);
  border-radius: 5px;
  margin-bottom: 10px;
}

.new-post-buttons {
  display: flex;
  justify-content: space-between;
}

.new-post-buttons button {
  background-color: var(--main-orange);
  border: none;
  padding: 10px;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.new-post-buttons button:first-child {
  background-color: #E0E0E0;
  color: black;
}

.post-text {
  color: black;
}


@media (max-width: 700px) {
  .post-button-container {
    right: 40px;
  }
}
