.container {
  max-width: 700px;
  margin: 0 auto;
  padding: 20px;
}

.header {
  background-color: white;
  display: flex;
  justify-content: space-between;
  border-bottom: 3px solid #ECECEC;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

/* .header {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid #ECECEC;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  padding-top: 10px;
  padding-bottom: 10px;
} */

.header h1 {
  margin: 0;
  font-weight: 200;
  color: #FF8D00;
}

.header-right {
  display: flex;
  align-items: center;
}

.new-post-button {
  color: #FF8D00;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.filter {
  margin-bottom: 20px;
}

.filter select {
  padding: 5px;
  font-size: 16px;
  color: black;
  /* background-color: none;
  border-radius: 5px;
  color: #FF8D00; */
}

/* .posts {
  display: flex;
  flex-direction: column;
} */


.new-post-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  height: 100vh;
}

.new-post-form textarea {
  height: 60%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #FFA000;
  border-radius: 5px;
  margin-bottom: 10px;
}

.new-post-buttons {
  display: flex;
  justify-content: space-between;
}

.new-post-buttons button {
  background-color: #FFA000;
  border: none;
  padding: 10px;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.new-post-buttons button:first-child {
  background-color: #E0E0E0;
  color: black;
}