.jodel {
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 10px;
    color: white;
    position: relative;
}


.jodel-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.jodel-username {
  font-weight: bold;
}

.post-time {
  font-size: 12px;
}

.jodel-text {
  white-space: pre-line;
  margin-bottom: 10px;
}

.jodel-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.jodel-karma {
  display: flex;
  align-items: center;
  text-align: center;
  /* font-weight: bold; */
  font-size: 18px;
}

.vote-button {
  background: none;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.comment-button {
  background: none;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.comment-button svg {
  color: white;
}